src/patient-tracking/LogicApps/Examination/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greaterOrEquals": [
                                "@variables('needs_labs')",
                                1
                            ]
                        }
                    ]
                },
                "actions": {
                    "Set_Queue_to_needs_labs": {
                        "type": "SetVariable",
                        "inputs": {
                            "name": "next_queue_name",
                            "value": "needs-labs-queue"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Set_Queue_to_examined": {
                            "type": "SetVariable",
                            "inputs": {
                                "name": "next_queue_name",
                                "value": "examined-queue"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Needs_Labs_Randomizer": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Delay": {
                "type": "Wait",
                "inputs": {
                    "interval": {
                        "count": "@rand(5,10)",
                        "unit": "Second"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "next_queue_name",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Delay": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Needs_Labs_Randomizer": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "needs_labs",
                            "type": "integer",
                            "value": "@rand(0,2)"
                        }
                    ]
                },
                "runAfter": {
                    "Set_variable": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['contentData']",
                    "schema": {
                        "properties": {
                            "appointment_id": {
                                "type": "string"
                            },
                            "patient_name": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {}
            },
            "Send_message": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "entityName": "@variables('next_queue_name')",
                        "message": {
                            "contentData": {
                                "appointment_id": "@{body('Parse_JSON')?['appointment_id']}",
                                "patient_name": "@{body('Parse_JSON')?['patient_name']}"
                            },
                            "contentType": "application/json"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "sendMessage",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "runAfter": {
                    "Condition": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Set_variable": {
                "type": "SetVariable",
                "inputs": {
                    "name": "next_queue_name",
                    "value": "needs-labs-queue"
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "taken-vitals-queue",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}